<div class="footer">
    <div class="footer-content">
        <ul>
            <li><a href="/">Gaming Mart</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="footer_logo">
            <i class="fab fa-twitter mr-3"></i>
            <i class="fab fa-facebook mr-3"></i>
            <i class="fab fa-instagram mr-3"></i>
        </ul>
    </div>
</div> 
</body>
</html>