<%- include('./partials/header.ejs') %>
<div class="content">
    <div class="event-heading">
        <h3 class="dis-in-bl">About Us</h3>
        </div>
        <div class="m-60">
                <h2>Welcome to Gaming Mart </h2>
                    <h3>Largest Gaming Trading Platform<br>
                        Giving customers 24x7 access. </h3>
                    <br>
                    <h4>GMart is platform where users can trade Latest Games and play multiplayer Games for very cheap rates</h4>
                <h4>You can go through the connections section to check the available muliplayer connections.</h4>
            </div>
        </div>
<%- include('./partials/footer.ejs') %>