<%- include('./partials/header.ejs') %>
    <div class="content">
            <div class="event-heading">
                <p class="dis-in-bl">Contact</p>
            </div>
            <div class="m-60">
                <p class="dis-in-bl">Location</p>
                <h3>University Road, Charlotte, NC 28223</h3>

                <p class="dis-in-bl">Our hours</p>
                <h3>8:00 AM – 5:00 PM EST</h3>

                <p class="dis-in-bl">Contact</p>
                <h3>Phone: (454) 221 6301</h3>
                <h3>Email: anarkhe2@uncc.edu</h3>
            </div>
        </div>
<%- include('./partials/footer.ejs') %>