
<%- include('../partials/header.ejs') %>

<form action = '/users'  method = 'POST' style="margin-top: 7%;margin-right: 7%;">
    <table>
        <tr>
            <td><label for="firstName">First Name</label></td>
            <td><input type="text" id="firstName" name="firstName"  required></td>
        </tr>
        <tr>
            <td><label for="lastName">Last Name</label></td>
            <td><input type="text" id="lastName" name="lastName" required></td>
        </tr>

        <tr>
            <td><label for="email">Email Address</label></td>
            <td><input type="email" id="email" name="email"  required></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" id="password" name="password"  minlength="8" required></td>
        </tr>
        
        <tr>
            <td colspan="2" class = "align-right"><button>Sign Up</button></td>
        </tr>
    </table>        
</form>


<%- include('../partials/footer.ejs') %>


